.first {
    border-radius: 50%;
    height: 150px;
    padding: 5px;
}

.description-box {
    padding-top: 5px;
}

.count-description {
    display: flex;
}

.count-description-item {
    padding-right: 15px;
}

.image-container {
    padding-top: 20px;
}

.dashboard-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding-top: 15px;
}
