.nav-logo {
    max-height: 20px;
    padding-right: 7px;
}

.nav-title {
    padding-left: 7px;
    border-left: 1px solid black;
    padding-top: 1.5px;
}

/*.first-img {*/
/*    border-radius: 50%;*/
/*    height: 50px;*/
/*}*/

.first {
    border-radius: 50%;
    height: 500px;
}

.test {
    color: purple;
}

